body {
	margin: 0;
	font-family: monospace;
	background-color: white;
		  background: url(images/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {

  padding-left: 10px;
  padding-right:10px;
  height: 500px;
}

img {
	max-width: 100%;
}

h1 {
	border: 0.3em solid white;
	font-size: 4em;
	padding: 0.3em;
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
	color: white;
	text-shadow: 2px 2px 8px #000000;
	box-shadow: 0px 0px 8px #000000;
}

header h2 {
	text-align: center;
	text-shadow: 0px 0px 5px #000000;
	color: white;
	padding-bottom: 10px;
}

ul, nav, li, a {
	margin-top: 0;
}
nav ul li{
	display: inline;
	text-align: right;
}
nav ul li a {
	text-align: center;
	text-shadow: 0px 0px 5px #000000;
	color: white;
	padding-bottom: 10px;
	font-size: 1.5em;
}

nav ul li a:hover {
	color: rgba(255, 255, 255, 0.5);
}
ul {
	padding-left: 0;
}
a {
	text-decoration: none;
}

nav {
	padding-top: 5px;
	margin-bottom: 150px;
}

section h2 {
 	color: black;
 	background-color: white;
	text-align: center;
	text-shadow: 2px 1px 5px gray;
	font-size: 3rem;
	box-shadow: 0px 0px 5px #000000;
}

#about p {
	font-size: 1.1rem;
	margin: 0 auto;
	font-family: arial;
}

#about img {
	border-radius: 100%;
	max-width: 50%;
	margin: 0 auto;
	box-shadow: 0px 0px 5px #000000;
}

#me {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.bgwhite {
	background-color: white;
	padding: 6px;
}
.shrink {
	max-width: 90%;
	box-shadow: 0px 0px 5px #000000;
}
.cent {
	text-align: center;
}